<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Local</th>
            <th>Senha</th>
        </tr>
        {{ range .All }}
            <tr>
            
                <td>{{ .Id }}</td>
                <td>{{ .SenhaLocal }}</td>
                <td>{{ .Senha }}</td>
                
            </tr>
        {{ end }}
    </table>
    
</body>
</html>