<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="post">
        <label for="senha_local">Coloque o local a onde a senha é usada</label>
        <input type="text" name="senha_local" id="senha_local">

        <label for="senha">Coloque a senha</label>
        <input type="text" name="senha" id="senha">

        <input type="submit" value="Enviar">
    </form>
</body>
</html>